* {
    font: Ubuntu 17;
}

window {
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-color: #1d1d1d; 
    border-radius: 15px;
    width: 400px;
}

#input {
    margin: 5px;
    background: transparent;
    color: white;
    border: 0px; 
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    color: white;
}

#entry:selected {
    background-color: rgba(40, 40, 40, 1.0);
    border: 1px solid rgba(40, 40, 40, 1.0);
}

#text:selected {
}

